<h1>Sentia CSV to DB</h1>

<%= form_tag(upload_file_path, multipart:true, method: 'post') do %>
  <label for="file">Upload CSV file:</label>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>


<%= form_tag(people_path, :method => "get") do %>
   <%= text_field_tag :search, params[:search], placeholder: 'Search by Name' %>
  <%= submit_tag "Search" %>
<% end %>

          <table style="margin: 50px 0;">
  <tr>
    <th><%= sort('people.first_name', 'First Name') %> </th>
    <th> Last Name </th>
    <th> Locations </th>
    <th> Species </th>
    <th> Gender </th>
    <th> Affiliations </th>
    <th> Weapon </th>
    <th> Vehicle </th>
  </tr>
  <% @people.each do |person| %>
  <tr>
    <td> <%= person.first_name %></td>
    <td> <%= person.last_name %></td>
    <td> <%= person.locations.collect{|x| x.name}.to_sentence %></td>
    <td> <%= person.species %></td>
    <td> <%= person.gender %></td>
    <td> <%= person.affiliations.collect{|x| x.name}.to_sentence %></td>
    <td> <%= person.weapon %></td>
    <td> <%= person.vehicle %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @people %>
<% if flash.present? %>
  <% flash.each do |key, value| %>
    <% flash_value = value  %>
    <%= content_tag :div, flash_value.html_safe, class: "flash #{key}" %>
  <% end %>
<% end %>
